<table
  style="border-collapse: collapse; width: 96.6946%; height: 842px"
  border="1"
>
  <tbody>
    <tr style="height: 54px; text-align: center">
      <td style="width: 4.62814%; height: 54px">&nbsp;</td>
      <td style="width: 49.1142%; height: 54px" colspan="2">&nbsp;</td>
      <td style="width: 46.3519%; height: 54px" colspan="4">
        <blockquote>
          <p style="text-align: left">
            &nbsp; &nbsp;26 ซอยอ่อนนุช 17 แยก 5 แขวงสวนหลวง
          </p>
          <p style="text-align: left">
            &nbsp; &nbsp;เขตสวนหลวง กรุงเทพมหานคร 10250 (สำนักงานใหญ่)
          </p>
          <p style="text-align: left">
            &nbsp; &nbsp;เลขประจำตัวผู้เสียภาษี 0105547033625
          </p>
        </blockquote>
      </td>
    </tr>
    <tr style="height: 26px">
      <td style="width: 100.094%; height: 26px; text-align: center" colspan="7">
        <strong>ใบวางบิล</strong>
      </td>
    </tr>
    <tr style="height: 36px">
      <td style="width: 4.62814%; height: 36px; text-align: center">To</td>
      <td style="width: 15.2938%; height: 36px; text-align: center">
        Company Name
      </td>
      <td style="width: 41.8619%; height: 36px; text-align: center" colspan="2">
        &nbsp;
        {{customer_company}}
      </td>
      <td style="width: 14.3069%; height: 36px; text-align: center">
        Quotation No.
      </td>
      <td style="width: 20.5651%; height: 36px; text-align: center">

        {{qty}}
      </td>
      <td style="width: 3.43835%; height: 36px; text-align: center">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">Contact Person</td>
      <td style="width: 33.8204%; height: 18px">{{name}}</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">Date</td>
      <td style="width: 20.5651%; height: 18px">05/09/2565</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">Address</td>
      <td style="width: 33.8204%; height: 18px">{{customer_address}}</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">Contact Person</td>
      <td style="width: 20.5651%; height: 18px">จุฑารัตน์</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">Mobile</td>
      <td style="width: 20.5651%; height: 18px">099-426-5356</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">Tel/Fax</td>
      <td style="width: 33.8204%; height: 18px">{{customer_tel}}</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">Email</td>
      <td style="width: 24.0035%; height: 18px" colspan="2">
        mantarin.haus@gmail.com
      </td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">Email</td>
      <td style="width: 33.8204%; height: 18px">{{customer_email}}</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">Tax</td>
      <td style="width: 33.8204%; height: 18px">{{customer_tax}}</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 36px" rowspan="2">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 38.3104%; height: 18px; text-align: center" colspan="3">
        Price Validation 30 day
      </td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 38.3104%; height: 18px; text-align: center" colspan="3">
        Payment Condition Cash
      </td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px; text-align: center">
        <strong>No</strong>
      </td>
      <td style="width: 15.2938%; height: 18px; text-align: center">
        <strong>Code</strong>
      </td>
      <td style="width: 33.8204%; height: 18px; text-align: center">
        <strong>Description</strong>
      </td>
      <td style="width: 8.04152%; height: 18px; text-align: center">
        <strong>Quantity</strong>
      </td>
      <td style="width: 14.3069%; height: 18px; text-align: center">
        <strong>Unit</strong>
      </td>
      <td style="width: 20.5651%; height: 18px; text-align: center">
        <strong>Unit/Price</strong>
      </td>
      <td style="width: 3.43835%; height: 18px; text-align: center">
        <strong>Amount</strong>
      </td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px; text-align: center">1</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px; text-align: center">
        {{curtain_name}}
      </td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px; text-align: center">หลา</td>
      <td style="width: 20.5651%; height: 18px; text-align: center">
        {{dark_curtain_price}}
      </td>
      <td style="width: 3.43835%; height: 18px; text-align: center">
        {{dark_price}}
      </td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;2</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;{{text1}}</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 14.3069%; height: 18px">&nbsp;</td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 31px">
      <td style="width: 19.9219%; height: 31px" colspan="2">
        &nbsp; &nbsp; &nbsp;<strong>เงื่อนไขการชำระเงิน</strong>
      </td>
      <td style="width: 33.8204%; height: 31px">
        <p>:&nbsp; &nbsp;50% เมื่อสั่งซื้อ</p>
      </td>
      <td style="width: 8.04152%; height: 31px">&nbsp;</td>
      <td style="width: 34.872%; height: 31px; text-align: center" colspan="2">
        รวมเป็นเงิน
      </td>
      <td style="width: 3.43835%; height: 31px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">
        :&nbsp; &nbsp;40% ก่อนการเข้าติดตั้ง 10% ส่งมอบงาน
      </td>
      <td style="width: 8.04152%; height: 18px">&nbsp;</td>
      <td style="width: 34.872%; height: 18px; text-align: center" colspan="2">
        ส่วนลด
      </td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 61.7839%; height: 18px" colspan="4">
        &nbsp; &nbsp; &nbsp;ชื่อบัญชี&nbsp; &nbsp; &nbsp; บจก. มัณฑรินทร์ เฮาส์
      </td>
      <td style="width: 34.872%; height: 18px; text-align: center" colspan="2">
        ราคาก่อนรวมภาษี
      </td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 61.7839%; height: 18px" colspan="4">
        <p>
          &nbsp; &nbsp; &nbsp;เลขที่บัญชี&nbsp; &nbsp;351-2-24193-8 ออมทรัพย์
          ธ.ไทยพาณิชย์ สาขาคูคต
        </p>
      </td>
      <td style="width: 34.872%; height: 18px; text-align: center" colspan="2">
        ภาษีมูลค่าเพิ่ม 7%
      </td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 40px">
      <td style="width: 61.7839%; height: 40px" colspan="4">&nbsp;</td>
      <td style="width: 34.872%; height: 40px; text-align: center" colspan="2">
        ยอดสุทธิ
      </td>
      <td style="width: 3.43835%; height: 40px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 19.9219%; height: 18px; text-align: center" colspan="2">
        หมายเหตุ :&nbsp;
      </td>
      <td style="width: 80.1723%; height: 36px" colspan="5" rowspan="2">
        &nbsp;
      </td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 19.9219%; height: 18px" colspan="2">&nbsp;</td>
    </tr>
    <tr style="height: 89px">
      <td style="width: 4.62814%; height: 89px">&nbsp;</td>
      <td style="width: 92.0277%; height: 89px" colspan="5">
        &nbsp; &nbsp;(...........................................)&nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;(..............................................)
      </td>
      <td style="width: 3.43835%; height: 89px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 15.2938%; height: 18px">&nbsp;</td>
      <td style="width: 33.8204%; height: 18px">&nbsp;</td>
      <td style="width: 42.9135%; height: 18px; text-align: center" colspan="3">
        จุฑารัตน์ ประจวบศิลป์
      </td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 18px">
      <td style="width: 4.62814%; height: 18px">&nbsp;</td>
      <td style="width: 57.1557%; height: 18px; text-align: left" colspan="3">
        &nbsp; &nbsp; &nbsp; ผู้มีอำนาจลงนามสั่งซื้อพร้อมตราประดับ
      </td>
      <td style="width: 14.3069%; height: 18px; text-align: center">
        ผู้เสนอราคา
      </td>
      <td style="width: 20.5651%; height: 18px">&nbsp;</td>
      <td style="width: 3.43835%; height: 18px">&nbsp;</td>
    </tr>
    <tr style="height: 26px">
      <td style="width: 4.62814%; height: 26px">&nbsp;</td>
      <td style="width: 15.2938%; height: 26px">&nbsp;</td>
      <td style="width: 33.8204%; height: 26px">&nbsp;</td>
      <td style="width: 8.04152%; height: 26px">&nbsp;</td>
      <td style="width: 14.3069%; height: 26px">&nbsp;</td>
      <td style="width: 20.5651%; height: 26px">&nbsp;</td>
      <td style="width: 3.43835%; height: 26px">&nbsp;</td>
    </tr>
  </tbody>
</table>